{% extends "master.html" %}

{% block title %}
  Details about {{ mycampaign.name }}
{% endblock %}


{% block content %}

<div class="mycard">
  <h1>{{ mycampaign.name }}</h1>

  <p>Typ: {{ mycampaign.type }}</p>
  <p>Data: {{ mycampaign.date }} </p>
  <table class="styled-table">
    <tr>
        <th>Wysłane</th>
        <th>Wyświetlone</th>
        <th>Odpowiedziane</th>
        {% comment %} <t>Procent odpowiedzi</th> {% endcomment %}
    </tr>
    <tr class="active-row">
        <td>{{ mycampaign.sent }}</td>
        <td>{{ mycampaign.seen }}</td>
        <td>{{ mycampaign.replied }}</td>
        {% comment %} <td>{{ mycampaign.replied / mycampaign.sent *100 }}%</td> {% endcomment %}
    </tr>
  </table>
   
</div>

{{ chart|safe }}

<!-- <p>Back to <a href="/campaigns">Campaigns</a></p> -->

{% endblock %}